body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}
